/***********
 * IMPORTS *
 ***********/

@import url("https://fonts.googleapis.com/css2?family=McLaren&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/***************
 * FONT FAMILY *
 ***************/

$mc-laren: "McLaren", cursive;
$montserrat: "Montserrat", sans-serif;

/****************
 * FONT WEIGHTS *
 ****************/

$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$boldest: 900;
