@import "../../../scss/variables";

.note {
  background: $white;
  border-radius: 7px;
  box-shadow: 0 2px 5px $lightGray;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;

  h1 {
    font-size: 1.1rem;
    margin-bottom: 6px;
    font-weight: $bold;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
